[[headers]]
  for = "/index.css"
  [headers.values]
    Content-Type = "text/css"

[[headers]]
  for = "/index.tsx"
  [headers.values]
    Content-Type = "application/javascript"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
