[build]
  command = ""          # ← Отключаем npm run build!
  publish = "."         # ← Деплоим корень проекта

[[headers]]
  for = "/index.css"
  [headers.values]
    Content-Type = "text/css"

[[headers]]
  for = "*.js"
  [headers.values]
    Content-Type = "application/javascript"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
